/*Image created by Jonathan Pintas, at 
https://www.flickr.com/photos/saynototheoffice/7892935092/in/photolist-d2tmBN-TXP7mM-r2Yxgm-6RBjr-5ye8qn-RQ4MtU-9UvB6G-asUgUo-SRtfrU-96mCt3-biWRMH-fAxfCm-Rz5Pj5-6Gcxj-9TKxmV-RWXxuT-soBrHf-aXhzz2-mPMT3J-eg7yNF-b2Gj7i-ej3CDt-8mdzY7-5FW9sp-6hKnhB-bw9pAn-d3kBV1-RPL8st-eUrHNy-anpoqa-bBBEFi-79QdPu-agFoMV-njFDJ8-mh43mA-bntoHy-RXTwuE-9qb7vJ-d3kBuN-bzPJBP-98zLN1-6hKmv4-SVHis8-bLCKiV-enpJKD-7a927D-8BTtb6-SsNj2e-99NUTq-bV7Y8J
*/

body{
	font-family: Lato;
	background: #FFDD98;
	color: #232924;
}

.bgimg{
	height: 250px;
	background-image: url("photos/main_image.jpg");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

/*This sort of thing would have to be better-planned out!*/
/*.col-xs-12>p{
	background: #FFDDC5;
}*/

.navbar {
	height: 40px;
	margin-bottom: 0;
}

.navbar-inverse .navbar-collapse {
	background: #222222;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}

/*.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}*/

h1{
	line-height: 200px;
	color: white;
    text-shadow:
    -1px -1px 5px #000,
    1px -1px 5px #000,
    -1px 1px 5px #000,
    1px 1px 5px #000;  	
}

.col-xs-12 p{
	margin-top: 2em;
	font-size: 1.2em;
}

#main-menu{
	height: 50em;
	margin: 0 auto;
}

.nav-tabs{
	border-bottom: 1px solid #232924;
}

.nav.nav-tabs{
	font-size: 1.2em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background: #FFDD98;
	color: #232924;
	border: 1px solid #232924;
	border-bottom-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #FFD073;
    border: 1px solid #232924;
    border-bottom-color: transparent;
	color: #0F1210;
}

.nav > li > a {
	color: #738577;
}

/*a:focus, a:hover {
	color: #0F1210;
}
*/
/*li:hover{
	background: pink;
}*/

/*li.active {
	background: #D1AB5E;
}*/

li.col-sm-6{
	font-size: 1.1em;
}

.location{
	max-width: 30em;
	height: 25em;
	margin: 0 auto;
}

.address{
	max-width: 30em;
	height: 25em;
	padding: 8% 0;
	margin: 0 auto;
	background: #FFEBC5;
}

.availability{
	width: 70%;
	margin: auto 8%;
}
.availability p{
	font-size: 1.2em;
	font-weight: bold;
}

.availability h4{
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}

#map{
	width: 100%;
	height: 300px;
	background: gray;
}

#contact p{
	font-size: 1.1em;
	width: 18em;
	margin: 0 auto;
	text-align: left;
}
/*Testing out media queries to do the fine-tweaking on the responsive aspects.
Find out how media queries work in terms of the cascade!

A LOT of unncecessarily repeated code here. Refactor immediately!*/
@media only screen and (min-width : 0px) and (max-width : 480px) {
	.bgimg {
	}

	h1{
		font-size: 2.3em;
		font-weight: bold;
	}
	.row h2 {
		font-size: 2.9em;
		font-weight: bold;
	}

	li.col-sm-6{
		max-height: 5em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
		margin-top: 2em;
	}
	.address{
		padding: 0;
		height: 27em;
	}
}

@media only screen and (min-width : 481px) and (max-width : 640px) {
	.navbar {
	height: 60px;
	}

	.navbar-brand{
		font-size: 2.2em;
		font-weight: bold;
	}

	.nav.navbar-nav li{
		font-size: 1.3em;
	}

	h1{
		font-size: 4em;
		font-weight: bold;
	}

	#main-menu{
		height: 55em;
	}

	.row h2 {
		font-size: 2.9em;
		font-weight: bold;
	}

	li.col-sm-6{
		height: 6em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

@media only screen and (min-width : 641px) and (max-width : 768px) {
	.navbar {
	height: 40px;
	}

	.navbar-brand{
		font-size: 1.75em;
		font-weight: bold;
	}

	.nav.navbar-nav li{
		font-size: 1.3em;
	}	

	h1{
		font-size: 5em;
		font-weight: bold;
	}

	.row h2 {
		font-size: 2.9em;
		font-weight: bold;
	}	

	#main-menu{
		height: 39em;
	}

	li.col-sm-6{
		height: 5.5em;
		margin-top: 3px;
		font-size: 1.4em;
	}
	.col-xs-3 img{
		max-height: 5.5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
		margin-top: 2em;
	}
	.address{
		padding: 0;
		height: 23em;
	}
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {
	.navbar {
	height: 40px;
	}

	.navbar-brand{
		font-size: 1.75em;
		font-weight: bold;
	}

	.nav.navbar-nav li{
		font-size: 1.3em;
	}	

	h1{
		font-size: 6em;
		font-weight: bold;
	}

	.row h2 {
		font-size: 2.9em;
		font-weight: bold;
	}

	#main-menu{
		height: 40em;
	}

	li.col-sm-6{
		height: 5em;
		margin-top: 3px;
		font-size: 1.5em;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1224px) {
	.navbar {
	height: 40px;
	}

	.navbar-brand{
		font-size: 1.75em;
		font-weight: bold;
	}

	.nav.navbar-nav li{
		font-size: 1.3em;
	}	

	h1{
		font-size: 7em;
		font-weight: bold;
	}

	.row h2 {
		font-size: 2.9em;
		font-weight: bold;
	}

	#main-menu{
		height: 40em;
	}

	li.col-sm-6{
		height: 5em;
		margin-top: 3px;
		font-size: 1.5em;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

@media only screen and (min-width : 1225px){
	h1{
		font-size: 8em;
		font-weight: bold;
	}

	.row h2 {
		font-size: 4em;
		font-weight: bold;
	}

	#main-menu{
		height: 43em;
	}

	li.col-sm-6{
		height: 7em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

ul{
	list-style: none;
}



.right{
	float: right;
}

footer{
	background: #222222;
	color: #9d9d9d;
}