/*Image created by Jonathan Pintas, at 
https://www.flickr.com/photos/saynototheoffice/7892935092/in/photolist-d2tmBN-TXP7mM-r2Yxgm-6RBjr-5ye8qn-RQ4MtU-9UvB6G-asUgUo-SRtfrU-96mCt3-biWRMH-fAxfCm-Rz5Pj5-6Gcxj-9TKxmV-RWXxuT-soBrHf-aXhzz2-mPMT3J-eg7yNF-b2Gj7i-ej3CDt-8mdzY7-5FW9sp-6hKnhB-bw9pAn-d3kBV1-RPL8st-eUrHNy-anpoqa-bBBEFi-79QdPu-agFoMV-njFDJ8-mh43mA-bntoHy-RXTwuE-9qb7vJ-d3kBuN-bzPJBP-98zLN1-6hKmv4-SVHis8-bLCKiV-enpJKD-7a927D-8BTtb6-SsNj2e-99NUTq-bV7Y8J
*/

.bgimg{
	background-image: url("photos/main_image.jpg");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.navbar {
	height: 75px;
	margin-bottom: 0;
}

.navbar-default .navbar-collapse {
	background: #f8f8f8;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}

h1{
	height: 300px;
}

#main-menu{
	height: 50em;
	margin: 0 auto;
}

.location{
	max-width: 30em;
	height: 25em;
	border: 1px solid red;
	margin: 0 auto;
}

.address{
	max-width: 30em;
	height: 25em;
	padding: 8% 0;
	margin: 0 auto;
	border: 1px solid black;
}

.availability{
	width: 70%;
	margin: auto 8%;
}

#map{
	width: 100%;
	height: 300px;
	background: gray;
}
/*Testing out media queries to do the fine-tweaking on the responsive aspects.
Find out how media queries work in terms of the cascade!

A LOT of unncecessarily repeated code here. Refactor immediately!*/
@media only screen and (min-width : 0px) and (max-width : 480px) {
	li.col-sm-6{
		height: 5em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
		margin-top: 2em;
	}
	.address{
		padding: 0;
		height: 27em;
	}
}

@media only screen and (min-width : 481px) and (max-width : 640px) {
	li.col-sm-6{
		height: 6em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

@media only screen and (min-width : 641px) and (max-width : 768px) {
	#main-menu{
		height: 35em;
	}

	li.col-sm-6{
		height: 7em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
		margin-top: 2em;
	}
	.address{
		padding: 0;
		height: 23em;
	}
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {
	#main-menu{
		height: 35em;
	}

	li.col-sm-6{
		height: 7em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1224px) {
	#main-menu{
		height: 35em;
	}

	li.col-sm-6{
		height: 7em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

@media only screen and (min-width : 1225px){
	#main-menu{
		height: 35em;
	}

	li.col-sm-6{
		height: 7em;
		margin-top: 3px;
	}
	.col-xs-3 img{
		max-height: 5em;
	}
	.availability{
		width: 95%;
		margin: 0;
		padding-top: 5%;
	}
	.location{
		height: 24em;
	}
	.address{
		padding: 0;
		height: 24em;
	}
}

ul{
	list-style: none;
}



.right{
	float: right;
}