#main-menu{
	height: 50em;
}

.location{
	width: 30em;
	height: 25em;
	background: green;
	float: left;
}

.address{
	width: 30em;
	height: 25em;
	background: yellow;
	float: left;
}

ul{
	list-style: none;
}

.availability{
	width: 70%;
}

.right{
	float: right;
}